<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Username:</strong></label>
          <input type="username" class="form-control" id="username" aria-describedby="username"
            placeholder="Enter Username">
          <small id="details" class="form-text text-muted">Welcome to a community of developers!</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="searchRepo"><strong>Repository Name:</strong></label>
          <input type="searchRepo" class="form-control" id="searchRepo" placeholder="Repository Name">
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>