<router-outlet></router-outlet>
<div class="container centered">
    <span><strong style='color: white!important;'>FIND REPOSITORY</strong></span>
</div>
<hr>
<div class='container centered'>
    <form class="" style='max-width:400px;' autocomplete="off">
        <div class="input-group mb-3 center">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input name='reponame' class="form-control" placeholder="Enter repository name . . ."
                [(ngModel)]="searchString">
            <div class="input-group-append">
                <button class="btn btn-success" (click)="search()" type="submit">Go</button>
            </div>
        </div>
    </form>
</div>
<hr>

<div class="container">
    <div class="row">
        <div *ngFor="let result of results">
            <app-repository-display [repo]="result"></app-repository-display>
        </div>
    </div>
</div>