<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div *ngIf="this.user" class="col-xs-10">
            <img class="pull-left col-xs-12 col-md-6 col-lg-3"  src="{{this.user.image}}">
            <div class="label label-warning major">Followers: {{user.info['followers']}}</div>
            <div class="label label-success major">Following: {{user.info['following']}}</div>
            <h2><strong class="major" *ngIf="this.user.info['name']">{{this.user.info['name']}}</strong></h2>
            <h4>{{this.user.info['bio']}}</h4>
            <div class="container">
                <div class="row">
                    <div *ngFor="let repo of user.repos" class="card" style="width:400px; margin:20px;">
                        <div class="card-header">
                            <span><strong>{{repo['name']}}</strong></span>
                        </div>
                        <div class="card-body" id="repo{{repo['id']}}">
                            <h4>{{repo['description']}}</h4>
                            <h5>Created on {{repo['created_at'] | datePipe}}</h5>
                            <h5>Language : {{repo['language']}}</h5>
                        </div>
                        <div class="card-footer">
                            <a href="{{repo['html_url']}}" target="_blank" class="btn btn-success">View on Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>