@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    font-size:20px;
    /* color: white; */
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp3082259.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.major{
    color: white!important;
}